body {
    margin: 0;
}

.header {
    background-color: white;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.left-header, 
.right-header {
    margin: 12px 0px;
}

.right-header {
    display: flex;
    margin-right: 40px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.left-header img {
    margin: 0 0;
    width: 50px;;
    height: 50px;
    border-radius: 50%;
    border: 5px solid seashell;
}

.whole-body1 {
    padding: 50px;
    display:flex;
    justify-content: center;
    background: burlywood;
}

.body1 {
    width: 800px;
    height: 350px;
    border-radius: 110px;
    border: 5px solid white;
    background: blanchedalmond;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.body1-img img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 5px double white;
}

.text1, 
.text2 {
    font-family: monospace;
}

.text1 {
    font-size: 50px;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}